

.container {
    display: flex;
    height:  95vh;
    background: rgb(40,40,44);
    background: linear-gradient(10deg, rgba(40,40,44,1) 57%, rgba(39,39,49,1) 69%, rgba(36,37,64,1) 81%, rgba(32,34,84,1) 88%, rgba(29,31,98,1) 99%, rgba(0,4,255,1) 100%);
    overflow: hidden;
    
    .container-flex1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 3;
        .container-lottie  {
            padding-left: 6rem;
            width: 500px;
            height: 500px;
        }
    }
    
    .title {
        font-size: 50px;
        color: grey;
        font-weight: 300;
    }

    .container-flex2 {
        display: flex;
        align-items: center;
        justify-content: end;
        flex: 7;
        img {
            position: absolute;
            object-fit: contain;
            width: 25%;
            height: 72%;
            z-index: 0;
            padding-right: 40px;
        }

        .container-text {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            padding-right: 150px;
            height: 80%;
            text-align: right;
            align-items: end;
            padding-right: 45%;
            z-index: 1;
            .presentation  {
                border-right: 2px solid;
                font-family: "Roboto Mono", monospace;
                padding-right: 20px;
                color: var(--second-color);
                font-weight: bold;
                font-size: 20px;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }

            h1 {
                font-size: 70px;
                font-family: "Hind Siliguri", sans-serif;
                font-weight: bold;
                letter-spacing: 3px;
                margin: 0;
                
            }
        }
    }
}

.container-portfolio {
    position: absolute;
    top: 630%;
}

.container-contact {
    position: absolute;
    top: 870%;
    left: 50%;
    height: 100vh;
}

@keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-slide-up {
    animation: fadeInSlideUp 2s ease-in-out forwards;
  }
  
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 2s ease-in-out forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 2s ease-in-out forwards;
  }
  