<div class="container">
    <div class="form"><img src="assets/images/bg-form.png" alt=""></div>
    <div class="flex">
        <div class="card">
            <div>
                <h1>Réaliser</h1>
                <p>Développer : c'est créer, concevoir, coder, tester et intégrer une solution informatique pour un client.</p>    
            </div>
            <div>
                <h3>Projets / Notions associéé(s)</h3>
                <p>
                    <span class="highlight">Graphe :</span>
                    Création d'un outil visuel pour afficher des graphes de lieux géographiques, leurs types et leurs liens.
                  </p> 
            </div>
        </div>
        <div class="card">
            <div>
                <h1>Optimiser</h1>
                <p>Proposer des applications informatiques optimisées en fonction de critères spécifiques : temps d'exécution, précision, consommation de ressources..</p>
            </div>
            
            <div>
                <h3>Projets / Notions associéé(s)</h3>
                <p>
                    <span class="highlight">Graphe :</span>
                    Réalisez le parcours le plus efficace et le plus pertinent dans un graphe de lieux géographiques.
                  </p> 
            </div>
        </div>
        <div class="card">
            <div>
                <h1>Administrer</h1>
                <p>Installer, configurer, mettre à disposition, maintenir en conditions opérationnelles des infrastructures, des services et des réseaux et optimiser les systèmes informatiques d'une organisation.</p>
            </div>
           
            <div>
                <h3>Projets / Notions associéé(s)</h3>
                <p>
                    <span class="highlight">Réseau :</span>
                    Installer et configurer un réseau local, configurer un DNS. Déployer un serveur web Apache sur un réseau local puis public.
                  </p>                  
            </div>
        </div>
    </div>
    
    <div class="flex">
        <div class="card">
            <div>
                <h1>Gérer</h1>
                <p>Concevoir, gérer, administrer et exploiter les données de l'entreprise et mettre à disposition toutes les informations pour un bon pilotage de l'entreprise.</p>
            </div>
            
            <div>
                <h3>Projets / Notions associéé(s)</h3>
                <p>
                    <span class="highlight">Base de données :</span>
                    Déployer une base de données Oracle. Création de données, de routines, de vues et de procédures.
                  </p> 
            </div>
        </div>
        <div class="card">
            <div>
                <h1>Conduire</h1>
                <p>Satisfaire les besoins des utilisateurs au regard de la chaîne de valeur du client, organiser et piloter un projet informatique avec des méthodes classiques ou agiles.</p>
            </div>
            
            <div>
                <h3>Projets / Notions associéé(s)</h3>
                <p>
                    <span class="highlight">4kicks :</span>
                    Réaliser un projet à l'aide d'une méthode agile (SCRUM). Respect des coutumes agiles (sprints, rétrospectives, etc...). Planification des tâches et suivi du projet sur plusieurs mois.
                  </p> 
            </div>
        </div>
        <div class="card">
            <div>
                <h1>Collaborer</h1>
                <p>Acquérir, développer et exploiter les aptitudes nécessaires pour travailler efficacement dans une équipe informatique.</p>
            </div>
            
            <div>
                <h3>Projets / Notions associéé(s)</h3>
                <p>
                    <span class="highlight">Traveil en équipe :</span>
                    Réflexion sur les méthodes de travail, la gestion des conflits et l'organisation à adopter afin de s'adapter à la dynamique d'une équipe de développement.
                  </p> 
            </div>
        </div>
    </div>
</div>