<div class="container">
  <div>
    <h2>UI/UX Design</h2>
    <div class="content">
      <span>Le design UI/UX a toujours été une passion pour moi, étroitement liée à l'informatique. Avant chaque création d'application, l'une de mes étapes préférées est de la concevoir.</span>
    </div>
  </div>
  <div>
    <h2>Jeux vidéo</h2>
    <div class="content">
      <span>Depuis mon plus jeune âge, j'ai commencé l'informatique grâce à ma passion pour les jeux vidéo. Je me suis intéressé à comment améliorer les performances pour jouer et optimiser mon ordinateur. Les jeux vidéo m'ont aussi appris la compétition, l'adversité et le travail d'équipe.</span>
    </div>
  </div>
  <div>
    <h2>IA</h2>
    <div class="content">
      <span>L'intelligence artificielle est une passion plutôt récente. Depuis l'avènement des nouvelles IA, j'ai découvert un intérêt croissant pour ce domaine. Ma curiosité est mise à l'épreuve : comment ces outils sont-ils créés ? Est-il possible d'en concevoir un chez soi ? Quels langages informatiques utilisent-ils ? En bref, l'IA est un sujet vaste et passionnant que j'affectionne particulièrement.</span>
    </div>
  </div>
  <div>
    <h2>Informatique</h2>
    <div class="content">
      <span>L'informatique est une passion évidente pour un développeur. Ce métier est une vocation qui implique de s'intéresser, de créer, de chercher et de développer. En bref, j'adore l'informatique depuis mon plus jeune âge et je ne regrette absolument pas d'avoir construit ma vie autour de cette passion. J'espère pouvoir innover et développer le plus longtemps possible dans ma vie.</span>
    </div>
  </div>
</div>
