<div class="about-me-container">
    <div class="image-container">
        <div class="circle-container big-circle">
            <img class="circle-image" src="assets/images/aboutme2.jpg" alt="Image 1">
        </div>
        <div class="circle-container small-circle">
            <img class="circle-image bubble" src="assets/images/bubble.jpg" alt="Image 2">
        </div>
        <div class="text-container">
            <img class="aboutmetext" src="assets/images/aboutmetext.png" alt="">
        </div>
    </div>
    <img class="little-arrow" src="assets/svg/little-arrow.svg" alt="">
    <!-- <div class="fondu"></div> -->
    <div class="presentation-container">
        <p>
            Je suis étudiant en deuxième année de BUT Informatique, passionné d'informatique depuis mes années lycée.
            J'adore particulièrement le développement web, et c'est dans les frameworks JavaScript/TypeScript tels
            qu'Angular et React que j'ai le plus d'expérience. En plus de cela, j'ai acquis des compétences en
            développement mobile pour Android et en développement back-end avec C# Core.
        </p>
    </div>
    <div class="fondu"><img src="assets/images/bg-form.png" alt=""></div>
</div>
<div class="skill">
    <h1 class="competences">Mes Compétences</h1>
    <img class="big-arrow" src="assets/svg/big-arrow.svg" alt="">
    <div class="container-skillsTree">
        <!-- <app-skillstree></app-skillstree> -->
    </div>
    <div class="skill-texte-container">
        <div class="skill-texte">
            <h4>Angular</h4>
            <p>Maitrise très avancée, utiliser sur plusieurs projet en entreprise.Très facilement réappliquable</p>
        </div>
        <div class="skill-texte">
            <h4>JavaScript / TypeScript / HTML / CSS</h4>
            <p>Maitrise très avancer, utiliser dans pratiquement 100% de mes projets web. Très facilement réappliquable
            </p>
        </div>
        <div class="skill-texte">
            <h4>SQL</h4>
            <p>Maitrise très avancée, utiliser dans pratiquement 100% de mes projets web. Très facilement réappliquable
            </p>
        </div>
        <div class="skill-texte">
            <h4>REACT</h4>
            <p>Maitrise avancée, utiliser sur le projet 4kiks. Facilement réappliquable</p>
        </div>
        <div class="skill-texte">
            <h4>Kotlin</h4>
            <p>Maitrise des bases, utiliser sur un projet d'application mobile. Réappliquable</p>
        </div>
        <div class="skill-texte">
            <h4>VueJS</h4>
            <p>Maitrise des bases, utiliser dans le projet "Geht Kaufen !" durant mes études. Réappliquable</p>
        </div>
        <div class="skill-texte">
            <h4>Python</h4>
            <p>Maitrise très basique, utiliser pour quelque fonction algorithmique durant mes études. Réappliquable</p>
        </div>
    </div>
</div>
<div class="Passion">
    <div class="fondu"><img src="assets/images/bg-form.png" alt=""></div>
    <div class="title">
        <img class="big-arrow-reverse" src="assets/svg/big-arrow-reverse.svg" alt="">
        <h1>Mes centres d'intérêt</h1>
    </div>
    <app-passion-card></app-passion-card>
</div>
<div class="competences">
    <div class="title">
        <h1>Compétences IUT</h1>
    </div>
    <app-card-iut></app-card-iut>
</div>